<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes">
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="FistWeb.styles.css" />  
    <link rel="stylesheet" href="css/CssSum.css" />

    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="js/CharSumJs.js"></script>

</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
@*     <script src="js/CharSum.js"></script>*@
 </body>

   <!-- Footer -->
@* <footer class="footer">
    <p>Powered by Kido_Nguyen ✨</p>
</footer> *@

</html>
