@page "/Customers"
@using Microsoft.EntityFrameworkCore
@inject Data.AppDbContext Db

<h3>Customers</h3>

@if (EmpInfo == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var c in EmpInfo)
        {
            <li>@c.Username (@c.Username)</li>
        }
    </ul>
}

@code {
    private List<Data.Entities.Users> EmpInfo;

    protected override async Task OnInitializedAsync()
    {
        EmpInfo = await Db.Users.ToListAsync();
    }
}
