@page "/"
@rendermode InteractiveServer

<script>
    document.addEventListener("click", function (event) {
      // Nếu click bên ngoài sidebar thì đóng
      if (!event.target.closest("#sidebar")) {
        closeSidebar();
      }
    });
</script>

<PageTitle>Counter</PageTitle>

<h1>Home</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
