<style >
.title {
    background-color: #add8e6;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 24px;
}

.menu-bar {
    margin-bottom: 10px;
}

.menu-btn {
    margin-right: 10px;
    padding: 5px 15px;
    font-weight: bold;
}

.filters {
    display: flex;
    gap: 40px;
    padding: 10px;
}

.query-box {
    border: 1px solid #ccc;
    padding: 10px;
    min-width: 200px;
}

.nav-link .bi {
    font-size: 1.4rem;
    line-height: 1; /* bỏ khoảng dư trên/dưới */
    vertical-align: middle; /* đảm bảo icon căn giữa dòng */
}
</style >
